{% extends "staff/staff_base.html" %}
{% block content %}
  <div style="float:right;">
    <div class="text-right">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownAdminMenu" data-toggle="dropdown" aria-expanded="true">
      Admin
      <span class="caret" ></span> 
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownAdminMenu">
      <ul>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/cookOrdersList">Cook Orders</a></h4></li>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/modifyMenu">Modify Menu</a></h4></li>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/logout">Logout</a></h4></li>
      </ul>
      </ul>
    </div>
    </div>
  </div>
<h2>
Hi {{ full_name }} you are now logged in!
</h2>

{% endblock %}