{% extends "staff/staff_base.html" %}
{% block content %}
  <div style="float:right;">
    <div class="text-right">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownAdminMenu" data-toggle="dropdown" aria-expanded="true">
      Admin
      <span class="caret" ></span> 
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownAdminMenu">
      <ul>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/managersViewNotifications/" >View Notifications</a></h4></li>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/managersModifyOrderList/" >Modify Orders</a></h4></li>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/viewSurvey">View Surveys</a></h4></li>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/logout">View Order Reports</a></h4></li>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/logout" >Logout</a></h4></li>
      </ul>
      </ul>
    </div>
    </div>
  </div>

<div class="container" >
<h2>
Notifications 
</h2>




 <div class="container  col-md-8">
    <br/>

    <table class="table"> 
      {% for item in notifications %}
      <tr> 
        <td>{{ item.info }}</td> 
      <td> <a type="button" class="btn btn-danger" href="/managersDeleteNotification/?nid={{item.id}}" > OK </a>  
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

</div>
{% endblock %}