{% extends "staff/staff_base.html" %}
{% block content %}
  <div style="float:right;">
    <div class="text-right">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownAdminMenu" data-toggle="dropdown" aria-expanded="true">
      Admin
      <span class="caret" ></span> 
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownAdminMenu">
      <ul>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/managersViewNotifications/" >View Notifications</a></h4></li>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/managersModifyOrderList/" >Modify Orders</a></h4></li>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/viewSurvey">View Surveys</a></h4></li>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/viewReports">View Order Reports</a></h4></li>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/managersAd">Advertisement</a></h4></li>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/logout" >Logout</a></h4></li>
      </ul>
      </ul>
    </div>
    </div>
  </div>
<h2>
      <form action="" method="post">
        {% csrf_token %}
        <label>Please write the advertisement here:</label>
      <textarea name="ad" class="col-xs-12" style="height:120px; clear:both; margin-bottom:24px;"></textarea>
      <div class="text-center">
      <input type="submit" class="btn btn-s btn-danger place-order" style="width:20%;" value="Submit"> 
      </div>
    </form>
</h2>

{% endblock %}