{% extends "staff/staff_base.html" %}
{% block content %}
  <div style="float:right;">
    <div class="text-right">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownAdminMenu" data-toggle="dropdown" aria-expanded="true">
      Admin
      <span class="caret" ></span> 
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownAdminMenu">
      <ul>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/cookOrdersList">Cook Orders</a></h4></li>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/logout">Modify Menu</a></h4></li>
        <li role="presentation"><h4><a role="menuitem" tabindex="-1" href="/logout">Logout</a></h4></li>
      </ul>
      </ul>
    </div>
    </div>
  </div>
  <div class="home-menu">
    <div class="container  col-md-6">
      <br/>
      <table class="table"> 
      {% for item in MenuItems %}
      <tr class="{{order.status}}"> <td>{{item}}</td>
        <td>
        {%if item.visible %} <a type="button" href="/hideItem/{{ item.id }}" class="btn  btn-danger" > HIDE </a> 
        {%else%} <a type="button" href="/showItem/{{ item.id }}" class="btn  btn-success" > SHOW </a> 
        {%endif%}
        </td>
      </tr>
      {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}