{% extends "base.html" %}

{% block content %}

<style>
	* {
		margin:0;
		padding:0;
	}

	ul {
		list-style-type: none;
	}

	img {
		
		/*min-width:25%;*/
		max-height:180px;
		max-width:25%;
		/*margin-top:-25%;*/
	}

	.category-container {
		width:100%;
		height:360px;
		overflow:hidden;
		display:block;
		position:relative;
		background-color:white;
		z-index:20;
	}
	.category-name {
		position:absolute;
		left:25%;
		top:25%;
	}
	a .category-name {
		position:absolute;
		transition: .5s ease;
		left: 10%;
		top: 20px;
		color:#f00;
		font-size:50px;
		font-weight:bold;
		font-family:sans-serif;
		text-decoration:none;
		/*text-shadow:3px 3px #000;*/
	}
	
</style>

{% if categories_list %}
	<ul>
	{% for category in categories_list %}
		<li><a href="/menu/category/{{ category.id }}/"><span class="category-container"><span class="category-name">{{ category.name }}</span>
		<img src="{{ category.main_photo.url }}"></span></a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No categories are available.</p>
{% endif %}


{% endblock %}