{% extends "base.html" %}

{% block content %}
{% if order %}
	<table class="table table-striped">
	<tr>
		<th>Item</th>
		<th>Price</th>
	</tr>
	{% for item in ordered_items %}
		<tr>
			<td>{{ item.name }}</td>
			{% if is_monday and free_kidsmeals > 0 and item.category.id == 8 and item.is_free == True %}
					<td><s>${{ item.price }}</s> Free!</td>
			{% else %}
				<td>${{ item.price }}</td>
			{% endif %}
		</tr>
	{% endfor %}
	{% for this_drink in ordered_drinks %}
		<tr>
			<td>{{ this_drink.drink }} (Flavor: {{ this_drink.flavor }})</td>
			{% if is_happy_hour %}
				<td><s>${{ this_drink.drink.original_price }}</s> ${{ this_drink.drink.price }}</td>
			{% else %}
				<td>${{ this_drink.drink.price }}</td>
			{% endif %}
		</tr>
	{% endfor %}
	<tr class="info">
	<td><strong>Total</strong></td>
	<td><strong>${{ order.total_price }}</strong></td>
	</tr>
	</table>
	<form action="/menu/review-order/" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="btn btn-s btn-danger place-order" style="width:100%;" value="Place order">
	</form>
{% else %}
	<div class="alert alert-success"><strong>Success!</strong><p>Your order has been placed.</p></div>
	<a href="/"><button class="btn btn-s btn-danger" style="width:100%;">Go to Home screen</button></a>
{% endif %}
{% endblock %}