{% extends "base.html" %}

{% block content %}
{% if order %}
	<table class="table table-striped">
	<tr>
		<th>Item</th>
		<th>Price</th>
	</tr>
	{% for item in ordered_items %}
		<tr>
			<td>{{ item.name }}</td>
			<td>{{ item.price }}</td>
		</tr>
	{% endfor %}
	<tr class="info">
	<td><strong>Total</strong></td>
	<td><strong>{{ order.total_price }}</strong></td>
	</tr>
	</table>
	{% block payment_buttons %}
	<a href="/pay/card/"><button class="btn btn-s btn-danger col-xs-4"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Pay with a card</button></a>
	<form action="/notify/" method="post">
	  {% csrf_token %}
	  <input type="hidden" value="cash" name="type">
	  <button class="btn btn-s btn-success col-xs-4"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Pay with cash</button>
	</form>
	<a href="/pay/split/"><button class="btn btn-s col-xs-4"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Split the bill</button></a>
	{% endblock %}
{% endif %}
{% endblock %}