{% extends "base.html" %}

{% block content %}
{% if order %}
	<form action="/pay/split/" method="post">
	{% csrf_token %}
	<input type="hidden" value="{{ parent_id }}" name="order_id">
	<table class="table table-striped">
	<tr>
		<th>Pay</th>
		<th>Item</th>
		<th>Price</th>
	</tr>
	{% for item in ordered_items %}
		<tr>
			<td><input type="checkbox" name="pay_these_items[]" value="{{ item.id }}"></td>
			<td>{{ item.name }}</td>
			<td>${{ item.price }}</td>
		</tr>
	{% endfor %}
	{% for drink in ordered_drinks %}
		<tr>
			<td><input type="checkbox" name="pay_these_drinks[]" value="{{ drink.id }}"></td>
			<td>{{ drink.drink }} (Flavor: {{ drink.flavor }})</td>
			<td>${{ drink.drink.price }}</td>
		</tr>
	{% endfor %}
	</table>
	{% block payment_buttons %}
	<a href="/pay/split/card/"><button class="btn btn-s btn-danger col-xs-6"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Pay these items with card</button></a>
	<form action="/notify/" method="post">
	  {% csrf_token %}
	  <input type="hidden" value="cash" name="type">
	  <button class="btn btn-s btn-success col-xs-6"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Pay these items with cash</button>
	</form>
	{% endblock %}
{% endif %}
{% endblock %}