{% extends "base.html" %}

{% block content %}
	
	<div class="text-center">
	<form action="/" method="post">
		{% csrf_token %}
		{{ form.as_p }}
	<div class="alert alert-success"><h2>How satisfied are you with your ...</h2></div>
	
			<div class="myradio"> <h3>SERVER</h3>   
		    <label>very bad <input type="radio" name="beatles" value="john" /> </label>
		    <label>bad <input type="radio" name="beatles" value="paul" /> </label>
		    <label>not so bad <input type="radio" name="beatles" value="george" /> </label>
		    <label>good <input type="radio" name="beatles" value="ringo" /> </label>
		    <label>very good <input type="radio" name="beatles" value="ringo" /> </label>
			</div>

			<div class="myradio"> <h3>FOOD</h3>   
		    <label>very bad <input type="radio" name="beatles" value="john" /> </label>
		    <label>bad <input type="radio" name="beatles" value="paul" /> </label>
		    <label>not so bad <input type="radio" name="beatles" value="george" /> </label>
		    <label>good <input type="radio" name="beatles" value="ringo" /> </label>
		    <label>very good <input type="radio" name="beatles" value="ringo" /> </label>
			</div>

			<div class="myradio"> <h3>ORDERING</h3>   
		    <label> very bad <input type="radio" name="beatles" value="john" /> </label>
		    <label> bad <input type="radio" name="beatles" value="paul" /> </label>
		    <label> not so bad <input type="radio" name="beatles" value="george" /> </label>
		    <label> good <input type="radio" name="beatles" value="ringo" /> </label>
		    <label> very good <input type="radio" name="beatles" value="ringo" /> </label>
			</div>
	<input type="submit" class="btn btn-s btn-danger survey" style="width:25%;" value="Submit">
	</form>
	</div>
	

{% endblock %}
